<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Home</h1>
    <button onclick="logout()">Logout</button>
</body>
</body>
</html>
<script>
    function logout() {
    fetch('/logout', {
      method: 'GET',
      credentials: 'include' // Include the session cookie in the request
    })
    .then(response => {
      if (response.ok) {
        // Redirect the user to the login page after logging out
        window.location.href = '/';
      } else {
        // Handle the error
        console.error('Logout failed');
      }
    })
    .catch(error => {
      console.error('Logout failed', error);
    });
  }
</script>